@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }

        .video-background {
            position: fixed;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
        }

        .content {
            position: relative;
            z-index: 1;
            color: white;
            text-align: center;
            padding: 20px;
        }

        .btn{
            height: 50px; 
            width:200px ;
            color:white;
            border:none;
            font-size:16px;
            background-color:#4CAF50;
        }

        .iframe1{
            position:absolute;
            left:0;


        }
    </style>
</head>
<body>
    <video class="video-background" autoplay muted loop>
        <source src="~/videos/video.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    

    <div class="content">
        <h1>Welcome to Delhi Flooring</h1>
        <p>We specialize in providing high-quality flooring solutions for homes and businesses. Whether you're looking for the warmth of hardwood, the durability of laminate, the luxury of vinyl, or the timeless appeal of tile, we have a wide selection to meet your needs.</p>
        <br /><br /><br /><br /><br /><br /><br /><br />
        
        <a class="btn" asp-area="" asp-controller="Purchase" asp-action="Index">Start Shopping</a>
        
        
    </div>
</body>
</html>